body {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.bg-dark-hover:hover {
  background-color: rgba(var(--bs-danger-rgb), 0.9) !important;
}

.bg-dark-hover {
  background-color: rgba(var(--bs-danger-rgb), 1) !important;
}

@for $i from 1 through 6 {
  .main-content * h#{$i} {
    color: var(--bs-primary);
    padding-bottom: 4px;
    padding-left: 16px;
    border-bottom: 1px var(--bs-primary) solid;
  }

  .main-content * h#{$i} > a {
    color: var(--bs-primary);
    text-decoration: none;
  }
}

.carousel-control-prev-icon {

}

[data-bs-theme="dark"] .carousel .carousel-control-prev-icon {
  filter: invert(0) grayscale(100);
}


[data-bs-theme="dark"] .carousel .carousel-control-next-icon {
    filter: invert(0) grayscale(100);
}

[data-bs-theme="light"] .carousel .carousel-control-prev-icon {
    filter: invert(1) grayscale(100);
}

[data-bs-theme="light"] .carousel .carousel-control-next-icon {
    filter: invert(1) grayscale(100);
}
