@use "../_imports/pannellum.css";

$primary: #42BAFF;
$green: #0ce3ac;

@import "../_imports/bootstrap-5.3.7/scss/bootstrap";

body {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

@for $i from 1 through 6 {
  h#{$i} {
    color: var(--bs-primary);
    padding: 0 0 0 1px;
    margin: 0.5em 0 0.5em 0;
    height: 2.5rem - (0.167rem * $i);
    max-height: 2rem;
    min-height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 1px var(--bs-primary) solid;
    font-size: 2rem - (0.167rem * $i);
  }

  h#{$i} > a {
    color: var(--bs-primary);
    text-decoration: none;
  }
}

a {
  color: var(--bs-green);
}

@import "../_imports/gallery";