body {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.bg-dark-hover:hover {
	background-color: rgba(var(--bs-danger-rgb), 0.9) !important;
}

.bg-dark-hover {
	background-color: rgba(var(--bs-danger-rgb), 1) !important;
}