<div class="row">
    <div class="col-sm-2 fw-bolder text-decoration-underline">Post-Anschrift</div>
    <div class="col-sm-4">
        Kreativität trifft Technik e.V.<br>
        Postfach 5532<br>
        26045 Oldenburg<br>
    </div>
    <div class="col-sm-2 fw-bolder text-decoration-underline">Anschrift</div>
    <div class="col-sm-4">
        Kreativität trifft Technik e.V.<br>
        Bahnhofsplatz 10<br>
        26122 Oldenburg<br>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-2 fw-bolder text-decoration-underline">Kontakt</div>
    <div class="col-sm-10">
        <p class="mb-0">
            Wenn du mit Leuten aus dem <a href="/about/about">Hackspace</a> in Kontakt treten möchtest, dann sind
            die <a href="https://mailman.ktt-ol.de/postorius/lists/">Mailinglisten</a> der beste Weg.
            <br>
            Weitere Informationen sind auch unter der Seite <a href="/about/communication">Kommunikation</a> zu finden.
        </p>
        <p class="mt-2">
            Solltest du nur mit dem <a href="/impressum">Vereinsvorstand</a>, in Kontakt treten wollen, dann schreibe
            eine Mail an
            <a href="mailto:vorstand@kreativitaet-trifft-technik.de">vorstand@kreativitaet-trifft-technik.de</a>.
        </p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-2 fw-bolder text-decoration-underline">Space-Telefon</div>
    <div class="col-sm-10">
        <p class="mb-0">
            <a href="tel:+49441-559 700 32">0441-559 700 32</a> (klingelt im gesamten <a
                href="/about/about">Hackspace</a>)
        </p>
        <p class="mt-2">
            <a href="tel:+4944121213322">0441-21 21 33 22</a> (klingelt <i>nur</i> beim Vorstand)
        </p>
    </div>
</div>