<a class="text-decoration-none" href="https://www.amazon.de/?tag=kreattrifftec-21">
    <img src="/media/img/affiliate/amazon.gif" alt="amazon.de" height="56ox">
</a>
<a class="text-decoration-none" href="https://www.getdigital.de/?her=KTT">
    <img src="/media/img/affiliate/get_digital.png" alt="getDigital.de" height="56ox">
</a>
<a class="text-decoration-none" href="https://partners.webmasterplan.com/click.asp?ref=572581&amp;site=4605&amp;type=b1&amp;bnb=1">
    <img src="/media/img/affiliate/elv.gif" alt="ELV" height="56ox">
</a>
<a class="text-decoration-none" href="https://partners.webmasterplan.com/click.asp?ref=572581&amp;site=8948&amp;type=b4&amp;bnb=4">
    <img src="/media/img/affiliate/reichelt.gif" alt="reichelt.de" height="56ox">
</a>
<a class="text-decoration-none" href="https://partners.webmasterplan.com/click.asp?ref=572581&amp;site=2945&amp;type=b229&amp;bnb=229">
    <img src="/media/img/affiliate/conrad.png" alt="conrad.de" height="56ox">
</a>
<a class="text-decoration-none" href="https://www.jacob-computer.de/?ref=1736">
    <img src="/media/img/affiliate/jacob_elektronik.png" alt="Jacob Elektronik" height="56px">
</a>
<a class="text-decoration-none" href="https://partners.webmasterplan.com/click.asp?ref=572581&amp;site=8883&amp;type=b19&amp;bnb=19">
    <img src="/media/img/affiliate/redcoon.jpg" alt="redcoon.de" height="80px">
</a>
