{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block extra_head %}

    <meta property="og:type" content="article"/>
    {{ self::album_metadata(image_uri=page.extra.file_uri, width=page.extra.width, title=page.title, height=page.extra.height) }}

{% endblock extra_head %}

{% block main %}
    <div class="mb-auto">
        <h3 class="d-flex justify-content-between">
            {{ page.title }}

            {% if page.ancestors | length > 2 %}
                {% set ancestor = get_section(path=page.ancestors | last) %}
                <a class="btn btn-outline-primary btn-sm mb-1 d-flex" href="{{ ancestor.path }}">
                    <!-- Credit: https://icons.getbootstrap.com/icons/chevron-double-left/ -->
                    <svg class="align-self-center" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                         fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"></path>
                        <path fill-rule="evenodd"
                              d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"></path>
                    </svg>

                    <!-- Credit: https://icons.getbootstrap.com/icons/images/ -->
                    <svg class="align-self-center" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                         fill="currentColor"
                         viewBox="0 0 16 16">
                        <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"></path>
                        <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2M14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1M2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1z"></path>
                    </svg>

                    <span class="ms-1 align-self-center">{{ ancestor.title }}</span>
                </a>
            {% endif %}
        </h3>

        <div class="d-flex justify-content-around">

            {% if page.extra.previous %}
                <a class="btn btn-sm my-auto btn-secondary h-100" id="btn-image-previous"
                   href="{{ get_url(path="@" ~ page.extra.previous, lang=lang) }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5"></path>
                    </svg>
                </a>
            {% endif %}

            <a target="_blank"
               href="{{ page.extra.file_uri }}">
                <img alt=""
                     class="mx-auto"
                     style="width: 750px;"
                     src="{{ page.extra.file_uri_1200 }}"
                />
            </a>

            {% if page.extra.next %}
                <a class="btn btn-sm my-auto btn-secondary h-100" id="btn-image-next"
                   href="{{ get_url(path="@" ~ page.extra.next, lang=lang) }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8m-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5"></path>
                    </svg>
                </a>
            {% endif %}

        </div>

        {{ page.content | safe }}

    </div>
{% endblock content %}