<!DOCTYPE html>
<html lang="{{ lang }}" prefix="og: https://ogp.me/ns#" data-bs-theme="light">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="{{ config.title }}"/>
    <meta property="og:locale" content='{{ trans(key="locale_name", lang=lang) }}'/>
    <meta property="og:locale:alternate" content='{{ trans(key="locale_name", lang="de") }}'/>
    <meta property="og:locale:alternate" content='{{ trans(key="locale_name", lang="en") }}'/>
    {% if current_path %}
        <meta property="og:url" content="{{ get_url(path=current_path) }}"/>
    {% endif %}

    {% if page.authors %}
        {% set page_author = page.authors | join(sep=", ") %}
    {% else %}
        {% set page_author = config.author %}
    {% endif %}

    <meta name="author" content="{{ page_author }}">

    {% block extra_meta %}
        <meta property="og:type" content="website"/>
    {% endblock extra_meta %}

    {% if section.title %}

        {% set title = section.extra.og_title | default(value=section.title ~ " | " ~ config.title) %}
        {% set description = section.extra.og_description | default(value=config.description) %}

    {% elif page.title %}

        {% set title = page.extra.og_title | default(value=page.title ~ " | " ~ config.title) %}
        {% set description = page.extra.og_description | default(value=config.description) %}

    {% else %}

        {% set title = config.title %}
        {% set description = config.description %}

    {% endif %}

    {% include "structured-data.html" %}

    <title>{{ title }}</title>
    <meta name="description" content='{{ description }}'>
    <meta property="og:description" content='{{ description }}'/>
    <meta property="og:title" content='{{ title }}'/>

    <link
            rel="stylesheet"
            href="{{ get_url(path="/css/bootstrap.min.css") }}">

    <link
            rel="stylesheet"
            href="{{ get_url(path="/css/site.css") }}">

    <link rel="alternate" type="application/rss+xml" title="RSS"
          href='{{ get_url(path="/rss.xml", trailing_slash=false) }}'>

    <link rel="alternate" type="application/rss+xml" title="RSS"
          href='{{ get_url(path="/atom.xml", trailing_slash=false) }}'>
</head>

<body class="vh-100 m-0 p-0">
<div class="container-lg px-lg-0 px-4 d-flex flex-column justify-content-between">

    {% include "navbar.html" %}

    {% block main %}
        <main id="content" class="row">
            <div class="col-lg-9">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="col-lg-3">
                {% block sidebar %}
                    {% include "sidebar.html" %}
                {% endblock sidebar %}
            </div>
        </main>
    {% endblock main %}

    <footer id="footer" class="border-top pt-2 mt-5 row">
        <div class="col">
            <p style="text-align: center;">
                © 2025 <a href="{{ config.base_url }}">Kreativität trifft Technik</a> | License: <a
                    href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a> | <a
                    href="{{ get_url(path="@/impressum.md", lang=lang) }}">Impressum</a>
            </p>
        </div>
    </footer>
</div>

<script src="{{ get_url(path="/js/site.js") }}">
</script>

</body>
</html>
