{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
    {% set ifs_data = load_data(url=config.extra.ifs_base_path ~ "/meta.json", format="json") %}
    {% set ifs_count = ifs_data.images | length %}

    <div class="container-fluid p-0">
        <div class="row">
            <div class="col">
                <h3>
                    <a href="{{ get_url(path="@/images/ifs/_index.md", lang=lang) }}">{{ trans(key="ifs_newest", lang=lang) }}</a>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="ifs-carousel" class="overflow-hidden bg-light-subtle carousel slide rounded" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for i in range(end=5) %}
                            <div style="height: 500px;"
                                 class="carousel-item text-center {% if i == 0 %} active {% endif %}"
                                 data-bs-interval="2500">
                                {% set id_str = (ifs_count - i) | as_str %}

                                <a target="_blank" class="text-decoration-none"
                                   href="{{ get_url(path='images/ifs/by-id/' ~ id_str, lang=lang) }}">
                                    <img class="h-100 d-inline-block align-middle"
                                         alt=""
                                         decoding="async"
                                         src="{{ config.extra.ifs_base_path }}/.thumbs/750-{{ ifs_data.images[i].filename }}"
                                    />
                                </a>
                            </div>
                        {% endfor %}
                        <div style="height: 500px;" class="carousel-item text-center" data-bs-interval="1000">
                            {% set ifs_page = get_section(path="images/ifs/_index.md", lang=lang, metadata_only=true) %}

                            <div class="h-100 align-content-center">
                                {{ trans(key="ifs_more", lang=lang) | replace(from="%PLACEHOLDER%", to='<a class="text-decoration-none" target="_blank" href="{{ get_url(path="@/images/ifs/_index.md", lang=lang) }}">'~ ifs_page.title ~'</a>') | safe }}
                            </div>
                        </div>
                    </div>
                    <button id="btn-image-previous" class="carousel-control-prev" type="button"
                            data-bs-target="#ifs-carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button id="btn-image-next" class="carousel-control-next" type="button"
                            data-bs-target="#ifs-carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon text-danger" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h3 class="mb-0">
                    <a href="{{ get_url(path="@/blog/_index.md", lang=lang) }}">Blog</a>
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% set blog_section = get_section(path="blog/_index.md", lang=lang) %}
                {{ self::blog_list(pages=blog_section.pages | slice(end=5)) }}
            </div>
        </div>
    </div>

{% endblock content %}