{% extends "base.html" %}
{% import "macros.html" as macros %}


{% block extra_meta %}
{% set ifs_data = load_data(url=config.extra.ifs_base_path ~ "/meta-first.json", format="json") %}
{% for i in range(end=5) %}

{{
self::sd_image(
image_url=config.extra.ifs_base_path ~ "/" ~ ifs_data.images[i].filename,
author=config.author,
title="IFS"
)
}}

{% endfor %}
{% endblock extra_meta %}

{% block content %}

<div class="container-fluid p-0">
    <div class="row">
        <div class="col">
            <h4>
                <a href="images/ifs">Image From Space</a>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="ifs-carousel" class="carousel slide mh-500" data-bs-ride="carousel">
                {% for i in range(end=5) %}
                <div class="carousel-inner p-2">
                    <div class="carousel-item text-center {% if i == 0 %} active {%endif%}">
                        {% set filename = ifs_data.images[i].filename %}
                        {% set width = ifs_data.images[i].width %}
                        {% set height = ifs_data.images[i].height %}
                        
                        {% set scaling = 750 / width %}
                        {% set height = height * scaling %}

                        <a target="_blank" class="text-decoration-none" href="{{config.extra.ifs_base_path}}/{{filename}}">
                            <img class="object-fit-contain"
                                 alt=""
                                 loading="lazy"
                                 decoding="async"
                                 style="max-height: {{height}}px; width: {{width}}px;"
                                 src="{{config.extra.ifs_base_path}}/.thumbs/1200-{{filename}}"
                            />
                        </a>
                    </div>
                </div>
                <!--<button class="carousel-control-prev" type="button" data-bs-target="#ifs-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#ifs-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>-->
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4 class="mb-0">
                News
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ macros::blog_list(pages=blog_section.pages | slice(end=5)) }}
        </div>
    </div>
</div>

{% endblock content %}