<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Über Uns
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/about.dark.html">Über uns</a></li>
                <li><a class="dropdown-item" href="/history.dark.html">Vereinsgeschichte</a></li>
                <li><a class="dropdown-item" href="/membership.dark.html">Mitgliedschaft</a></li>
                <li><a class="dropdown-item" href="/communication.dark.html">Kommunikation</a></li>
                <li><a class="dropdown-item" href="/support.dark.html">Unterstützen</a></li>
                <li><a class="dropdown-item" href="/press_review.dark.html">Pressespiegel</a></li>
                <li><a class="dropdown-item" href="/press_release.dark.html">Pressemitteilungen</a></li>
                <li><a class="dropdown-item" href="/sponsors/index.dark.html">Sponsoren</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Projekte
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/project_groups.dark.html">Projektgruppen</a></li>
                <li><a class="dropdown-item" href="/project_hardware.dark.html">Hardwareprojekte</a></li>
                <li><a class="dropdown-item" href="/project_software.dark.html">Softwareprojekte</a></li>
                <li><a class="dropdown-item" href="/project_infrastructure.dark.html">Infrastrukturprojekte</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Events
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/calendar.dark.html">Kalender</a></li>
                <li><a class="dropdown-item" href="/talks.dark.html">Vorträge</a></li>
                <li><a class="dropdown-item" href="/events.dark.html">Aktionen</a></li>
                <li><a class="dropdown-item" href="/series_of_events.dark.html">Veranstaltungsreihen</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Bilder
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/images_from_space.dark.html">Images from Space</a></li>
                <li><a class="dropdown-item" href="/album.dark.html">Fotoalben</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Der Hackspace
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/machines.dark.html">Geräte</a></li>
                <li><a class="dropdown-item" href="/mainframe.dark.html">Räume</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact.de.dark.html">
                Kontakt
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact.de.dark.html">
                Anreise
            </a>
        </li>
    </ul>

    <ul class="navbar-nav navbar-right">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                <div class="d-none d-sm-inline">
                    <img id="img-icon-lang" src="" style="height: 28px;" alt="Sprache">
                </div>
                <div class="d-inline d-sm-none">
                    Sprache
                </div>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/index.dark.html"><img src="/media/img/lang/de.png">Deutsch</a></li>
                <li><a href="/en/"><img src="/media/img/lang/en.png">English</a></li>
            </ul>
        </li>
    </ul>
</div>