<header id="navbar" style="padding-top: 10px;" class="row">
    <div class="col">
        <nav class="navbar navbar-expand-md bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/{% if lang != config.default_language %}{{lang}}{% endif %}"
                   style="padding-top: 10px; padding-bottom: 10px;">
                    <img style="height: 28px;" id="img-logo-mainframe" src="/media/img/logo-mainframe.svg"
                         alt="Mainframe Logo">
                    <img style="height: 50px;" id="img-logo-ktt" src="/media/img/logo-ktt.png"
                         alt="Kreativität trifft Technik e.V. Logo">
                </a>

                <button class="navbar-toggler" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">

                        {% set section_name = "about" %}
                        {% include "navbar-pagelist.html" %}

                        {% set section_name = "spacewalk" %}
                        {% include "navbar-pagelist.html" %}

                        {% set section_name = "images" %}
                        {% include "navbar-pagelist.html" %}

                        {% set section_name = "events" %}
                        {% include "navbar-pagelist.html" %}

                        {% if lang == config.default_language %}
                        {% set section = get_section(path="blog/_index.md") %}
                        {% else %}
                        {% set section = get_section(path="blog/_index." ~ lang ~ ".md") %}
                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link" href="{{section.path}}">
                                {{section.title}}
                            </a>
                        </li>
                    </ul>

                    <ul class="navbar-nav navbar-right">
                        {% if lang != config.default_language %}
                        {% set start = 1 %}
                        {% else %}
                        {% set start = 0 %}
                        {% endif %}

                        {% if page %}
                        {% set raw_path = page.components | slice(start=start) | join(sep="/") %}
                        {% elif section %}
                        {% set raw_path = section.components | slice(start=start) | join(sep="/") %}
                        {% else %}
                        {% set raw_path = "" %}
                        {% endif %}

                        {% set language = trans(key="language",lang=lang) %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <img id="img-icon-lang"
                                     src=""
                                     style="height: 28px;"
                                     alt="{{ language }}">
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/{{raw_path}}">
                                        <img src="/media/img/lang/de.png" class="me-1">
                                        Deutsch
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/en/{{raw_path}}">
                                        <img src="/media/img/lang/en.png" class="me-1">
                                        Englisch
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
