{% if lang == config.default_language %}
{% set section = get_section(path=section_name ~ "/_index.md") %}
{% else %}
{% set section = get_section(path=section_name ~ "/_index." ~ lang ~ ".md") %}
{% endif %}

<li class="nav-item dropdown">
    <div class="nav-link dropdown-toggle" role="button" aria-expanded="false">
        {{ section.title }}
    </div>
    <ul class="dropdown-menu">
        {% for page in section.pages %}
        <li>
            <a class="dropdown-item" href="{{page.path}}">
                {{page.title}}
            </a>
        </li>
        {% endfor %}

        {% for subsectionPath in section.subsections %}
        {% set subsection = get_section(path=subsectionPath) %}
        <li>
            <a class="dropdown-item" href="{{subsection.path}}">
                {{subsection.title}}
            </a>
        </li>
        {% endfor %}
    </ul>
</li>