<ul class="navbar-nav me-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Über Uns
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/about/about">Über uns</a></li>
            <li><a class="dropdown-item" href="/about/history">Vereinsgeschichte</a></li>
            <li><a class="dropdown-item" href="/about/membership">Mitgliedschaft</a></li>
            <li><a class="dropdown-item" href="/about/communication">Kommunikation</a></li>
            <li><a class="dropdown-item" href="/about/support">Unterstützen</a></li>
            <li><a class="dropdown-item" href="/about/press_review">Pressespiegel</a></li>
            <li><a class="dropdown-item" href="/about/press_release">Pressemitteilungen</a></li>
            <li><a class="dropdown-item" href="/about/sponsors">Sponsoren</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Projekte
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/projects/groups">Projektgruppen</a></li>
            <li><a class="dropdown-item" href="/projects/hardware">Hardwareprojekte</a></li>
            <li><a class="dropdown-item" href="/projects/software">Softwareprojekte</a></li>
            <li><a class="dropdown-item" href="/projects/infrastructure">Infrastrukturprojekte</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Events
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/events/calendar">Kalender</a></li>
            <li><a class="dropdown-item" href="/events/talks">Vorträge</a></li>
            <li><a class="dropdown-item" href="/events/previous">Vergangene Events</a></li>
            <li><a class="dropdown-item" href="/events/recurring">Eventreihen</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Bilder
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/images/ifs">Images from Space</a></li>
            <li><a class="dropdown-item" href="/images/albums">Fotoalben</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Der Hackspace
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/hackspace/machines">Geräte</a></li>
            <li><a class="dropdown-item" href="/hackspace/rooms">Räume</a></li>
            <li><a class="dropdown-item" href="https://map.mainframe.io">Karte</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contact">
            Kontakt
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contact#arrival">
            Anreise
        </a>
    </li>
</ul>

<ul class="navbar-nav navbar-right">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="d-none d-sm-inline">
                <img id="img-icon-lang" src="" style="height: 28px;" alt="Sprache">
            </div>
            <div class="d-inline d-sm-none">
                Sprache
            </div>
        </a>
        <ul class="dropdown-menu">
            {% if section.translations %}
            {% for lang in section.translations %}
            <li>
                <a class="dropdown-item" href="{{lang.permalink}}">
                    <img src="/media/img/lang/{{lang.lang}}.png" class="me-1">{{lang.lang}}
                </a>
            </li>
            {% endfor %}
            {% elif page.translations %}
            {% for lang in page.translations %}
            <li>
                <a class="dropdown-item" href="{{lang.permalink}}">
                    <img src="/media/img/lang/{{lang.lang}}.png" class="me-1">{{lang.lang}}
                </a>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    </li>
</ul>
