<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/en/about/about">About</a></li>
                <li><a class="dropdown-item" href="/en/about/history">History</a></li>
                <li><a class="dropdown-item" href="/en/about/membership">Membership</a></li>
                <li><a class="dropdown-item" href="/en/about/communication">Communication</a></li>
                <li><a class="dropdown-item" href="/en/about/support">Support</a></li>
                <li><a class="dropdown-item" href="/en/about/press_review">Press Review</a></li>
                <li><a class="dropdown-item" href="/en/about/press_release">Press Releases</a></li>
                <li><a class="dropdown-item" href="/en/about/sponsors">Sponsors</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Projects
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/en/projects/groups">Projekt Groups</a></li>
                <li><a class="dropdown-item" href="/en/projects/hardware">Hardware Projects</a></li>
                <li><a class="dropdown-item" href="/en/projects/software">Software Projects</a></li>
                <li><a class="dropdown-item" href="/en/projects/infrastructure">Infrastructure Projects</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Events
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/en/events/calendar">Calendar</a></li>
                <li><a class="dropdown-item" href="/en/events/talks">Talks</a></li>
                <li><a class="dropdown-item" href="/en/events/events">Actions</a></li>
                <li><a class="dropdown-item" href="/en/events/series_of_events">Event Series</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Images
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/en/images/ifs">Images From Space</a></li>
                <li><a class="dropdown-item" href="/en/images/albums">Image Albums</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                The Hackspace
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/en/hackspace/machines">Devices</a></li>
                <li><a class="dropdown-item" href="/en/hackspace/rooms">Rooms</a></li>
                <li><a class="dropdown-item" href="https://map.mainframe.io">Map</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/en/contact">
                Contact
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/en/contact#arrival">
                Arrival
            </a>
        </li>
    </ul>

    <ul class="navbar-nav navbar-right">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                <div class="d-none d-sm-inline">
                    <img id="img-icon-lang" src="" style="height: 28px;" alt="Language">
                </div>
                <div class="d-inline d-sm-none">
                    Language
                </div>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/index.dark.html"><img src="/media/img/lang/de.png">Deutsch</a></li>
                <li><a href="/en/"><img src="/media/img/lang/en.png">English</a></li>
            </ul>
        </li>
    </ul>
</div>