<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/about.dark.html">About</a></li>
                <li><a class="dropdown-item" href="/history.dark.html">History</a></li>
                <li><a class="dropdown-item" href="/membership.dark.html">Membership</a></li>
                <li><a class="dropdown-item" href="/communication.dark.html">Communication</a></li>
                <li><a class="dropdown-item" href="/support.dark.html">Support</a></li>
                <li><a class="dropdown-item" href="/press_review.dark.html">Press Review</a></li>
                <li><a class="dropdown-item" href="/press_release.dark.html">Press Releases</a></li>
                <li><a class="dropdown-item" href="/sponsors/index.dark.html">Sponsors</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Projects
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/project_groups.dark.html">Projekt Groups</a></li>
                <li><a class="dropdown-item" href="/project_hardware.dark.html">Hardware Projects</a></li>
                <li><a class="dropdown-item" href="/project_software.dark.html">Software Projects</a></li>
                <li><a class="dropdown-item" href="/project_infrastructure.dark.html">Infrastructure Projects</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Events
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/calendar.dark.html">Calendar</a></li>
                <li><a class="dropdown-item" href="/talks.dark.html">Vorträge</a></li>
                <li><a class="dropdown-item" href="/events.dark.html">Actions</a></li>
                <li><a class="dropdown-item" href="/series_of_events.dark.html">Event Series</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Images
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/images_from_space.dark.html">Images From Space</a></li>
                <li><a class="dropdown-item" href="/album.dark.html">Image Albums</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                The Hackspace
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/machines.dark.html">Devices</a></li>
                <li><a class="dropdown-item" href="/mainframe.dark.html">Rooms</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact.de.dark.html">
                Contact
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact.de.dark.html">
                Arrival
            </a>
        </li>
    </ul>

    <ul class="navbar-nav navbar-right">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                <div class="d-none d-sm-inline">
                    <img id="img-icon-lang" src="" style="height: 28px;" alt="Language">
                </div>
                <div class="d-inline d-sm-none">
                    Language
                </div>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/index.dark.html"><img src="/media/img/lang/de.png">Deutsch</a></li>
                <li><a href="/en/"><img src="/media/img/lang/en.png">English</a></li>
            </ul>
        </li>
    </ul>
</div>