{% set index_section = get_section(path=section_name ~ "/_index.md", lang=lang) %}

<li class="nav-item dropdown">
    <div class="nav-link dropdown-toggle" role="button" aria-expanded="false">
        {{ index_section.title }}
    </div>
    <ul class="dropdown-menu">
        {% for page in index_section.pages %}
            <li>
                <a class="dropdown-item" href="{{ page.path }}">
                    {{ page.title }}
                </a>
            </li>
        {% endfor %}

        {% for subsectionPath in index_section.subsections %}
            {% set subsection = get_section(path=subsectionPath, metadata_only=true) %}
            <li>
                <a class="dropdown-item" href="{{ subsection.path }}">
                    {{ subsection.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</li>