{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block extra_head %}
    <meta property="og:type" content='article'/>

    {% set thumbnail_file = page.extra.thumbnail | default(value="/media/img/logo-ktt.png") %}

    {% if thumbnail_file is not ending_with(".svg") %}
        {% set og_image = resize_image(path=thumbnail_file, width=1200, op="fit_width") %}
        {% set og_metadata = get_image_metadata(path=og_image.static_path, allow_missing=true) %}

        {% set title = page.extra.og_title | default(value=page.title ~ " | " ~ config.title) %}

        {{ self::sd_image(image_url=og_image.url, author=page.author | default(value=''), title=title) }}
        {{ self::og_image(image_url=og_image.url, width=og_image.width, height=og_image.height, author=page.author | default(value=''), title=title, content_type=og_metadata.mime | default(value="image/jpeg")) }}
    {% endif %}

    {% if page.taxonomies.topics %}
        {% for topic in page.taxonomies.topics %}
            <meta name="article:tag" content="{{ topic }}">
        {% endfor %}
    {% endif %}

    {% if page.date and page.updated %}

        {{ self::og_article(
                author=page_author,
                section=page.components[1],
                created=page.date,
                updated=page.updated
                )
                }}


        {{ self::sd_article(
                title=page.title | default(value=config.title),
                image_url=thumbnail_url | default(value=""),
                created=page.date,
                updated=page.updated,
                author=page_author,
                description=page.description | default(value=config.description)
                )
                }}

    {% endif %}

{% endblock extra_head %}

{% block content %}
    <h1 class="d-flex justify-content-between">
        {{ page.title }}

        {% if page.extra.repository %}
            <span class="text-end">
                <a target="_blank" rel="nofollow noreferrer noopener" class="badge text-bg-light"
                   href="{{ page.extra.repository }}">
                    Repository
                </a>
            </span>
        {% endif %}
    </h1>
    <div class="main-content">
        {{ page.content | safe }}
    </div>
{% endblock content %}