{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block extra_meta %}
<meta property="og:type" content='article' />

{% if page.extra.thumbnail %}

{% set thumbnail_url = config.extra.resource_base ~ "/" ~ page.extra.thumbnail %}
{% set thumbnail_metadata = get_image_metadata(path=page.extra.thumbnail) %}
{% set thumbnail_author = page.author | default(value=config.author) %}
{% set thumbnail_title = page.title | default(value=config.title) %}

{{
self::sd_image(
image_url=thumbnail_url,
author=thumbnail_author,
title=thumbnail_title
)
}}

{{
self::og_image(
image_url=thumbnail_url,
width=thumbnail_metadata.width,
height=thumbnail_metadata.height,
author=thumbnail_author,
title=thumbnail_title,
content_type="image/" ~ thumbnail_metadata.format,
card="summary"
)
}}

{% endif %}

{% if page.taxonomies.topics %}
{% for topic in page.taxonomies.topics %}
<meta name="article:tag" content="{{ topic }}">
{% endfor %}
{% endif %}

{% if page.date and page.updated %}

{% set page_author = page.author | default(value=config.author) %}

{{
macros::og_article(
author=page_author,
section=page.components[1],
created=page.date,
updated=page.updated
)
}}


{{
macros::sd_article(
title=page.title | default(value=config.title),
image_url=config.extra.resource_base ~ "/" ~ page.extra.thumbnail | default(value=""),
created=page.date,
updated=page.updated,
author=page_author,
description=page.description | default(value=config.description)
)
}}

{% endif %}

{% endblock extra_meta %}
