{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block extra_head %}
    <style>
        .big-arrow {
            height: 50px;
            width: 50px;

            /* https://www.reshot.com/free-svg-icons/item/arrow-up-circle-87NLXADMCK/ */
            background: white url({{ get_url(path="/media/pannellum/arrow-up-circle.svg") }});

            background-size: contain;
            border-radius: 24px;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        }

        .big-arrow:hover {
            background-color: rgb(208, 209, 249);
        }
    </style>
{% endblock extra_head %}

{% block main %}

    <div id="panorama" class="w-100 m-0" style="height: calc(100vh - 100px)">
    </div>

    <script defer type="text/javascript" src="{{ get_url(path="/js/pannellum.js") }}"
            integrity="sha384-{{ get_hash(path="static/js/pannellum.js", sha_type=384, base64=true) | safe }}"></script>
    <script defer type=" text/javascript" src="{{ get_url(path="/js/panorama.js") }}"
            integrity="sha384-{{ get_hash(path="static/js/panorama.js", sha_type=384, base64=true) | safe }}"></script>

{% endblock main %}
