<div class="mb-auto d-flex flex-column">
    <div class="d-flex flex-column">
        <h5 class="border-secondary border-bottom">
            <a class="ms-2 text-decoration-none text-primary" href="//status.kreativitaet-trifft-technik.de">
                Status
            </a>
        </h5>

        <div>
            <a role="button" id="status-hackspace"
               class="text-decoration-none link-dark d-flex px-2 justify-content-between bg-dark-hover"
               style="margin-bottom: 1px"
               href="//status.kreativitaet-trifft-technik.de">
                <span>Hackspace:</span>
                <span id="status-text-hackspace-open" class="d-none">Offen</span>
                <span id="status-text-hackspace-closed" class="d-inline">Geschlossen</span>
            </a>
            <a role="button" id="status-machining"
               class="text-decoration-none link-dark d-flex px-2 justify-content-between bg-dark-hover"
               style="margin-bottom: 1px"
               href="//status.kreativitaet-trifft-technik.de">
                <span>Zerspanungstechnik:</span>
                <span id="status-text-machining-open" class="d-none">Offen</span>
                <span id="status-text-machining-closed" class="d-inline">Geschlossen</span>
            </a>
            <a role="button" id="status-3dlab"
               class="text-decoration-none link-dark d-flex px-2 justify-content-between bg-dark-hover"
               style="margin-bottom: 1px"
               href="//status.kreativitaet-trifft-technik.de">
                <span>3D Lab:</span>
                <span id="status-text-3dlab-open" class="d-none">Offen</span>
                <span id="status-text-3dlab-closed" class="d-inline">Geschlossen</span>
            </a>
            <a role="button" id="status-bike"
               class="text-decoration-none link-dark d-flex px-2 justify-content-between bg-dark-hover"
               style="margin-bottom: 1px"
               href="//status.kreativitaet-trifft-technik.de">
                <span>Radstelle:</span>
                <span id="status-text-bike-open" class="d-none">Offen</span>
                <span id="status-text-bike-closed" class="d-inline">Geschlossen</span>
            </a>
        </div>
    </div>

    <div class="d-flex mt-2 flex-column">
        <h5 class="border-secondary border-bottom">
            <a class="ms-2 text-decoration-none text-primary" href="//status.kreativitaet-trifft-technik.de">
                Termine
            </a>
        </h5>
        <div>
            <!-- TODO: Calender -->
        </div>
    </div>
</div>