<div class="mb-auto d-flex flex-column">
    <div class="d-flex flex-column">
        <h3>
            <a class="ms-2" href="//status.kreativitaet-trifft-technik.de">
                Status
            </a>
        </h3>

        <script>
            const Rooms = {{ config.extra.rooms | json_encode | safe }};
        </script>

        <script src="{{ get_url(path="/js/status.js") }}" defer="defer" async="async">
        </script>

        <div class="px-2" style="font-size: 0.9em">
            {% for room in config.extra.rooms %}
                <a role="button" id="status-{{ room.name }}"
                   class="px-1 d-flex flex-column text-decoration-none btn btn-white rounded-0 text-dark"
                   style="margin-bottom: 1px; padding: 1px;"
                   href="//status.kreativitaet-trifft-technik.de">
                    <div class="text-start fw-bold lh-sm">
                        {{ room.title[lang] }}:
                    </div>
                    <div class="text-end lh-sm" id="status-text-unknown-{{ room.name }}">
                        ???
                    </div>
                    <div class="text-end lh-sm d-none" id="status-text-closed-{{ room.name }}">
                        {{ trans(key="closed", lang=lang) }}
                    </div>
                    <div class="text-end lh-sm d-none" id="status-text-closing-{{ room.name }}">
                        {{ trans(key="closing", lang=lang) }}
                    </div>
                    <div class="text-end lh-sm d-none" id="status-text-open-{{ room.name }}">
                        {{ trans(key="open", lang=lang) }}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="d-flex mt-2 flex-column">
        <h3>
            <a class="ms-2" href="//status.kreativitaet-trifft-technik.de">
                Termine
            </a>
        </h3>
        <div class="px-2" style="font-size: 0.9em">
            <!-- TODO: Calender -->
        </div>
    </div>
</div>
