<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "image": "https://www.ktt-ol.de/media/img/logo-ktt.png",
        "url": "https://www.ktt-ol.de",
        "sameAs": [
            "https://mainframe.io",
            "https://kreativitaet-trifft-technik.de",
            "https://kreativität-trifft-technik.de"
        ],
        "logo": "https://www.ktt-ol.de/media/img/logo-ktt.png",
        "name": "Kreativität trifft Technik e.V.",
        "description": "Kreativität trifft Technik e.V. - Hackspace Oldenburg",
        "email": "vorstand@ktt-ol.de",
        "telephone": "+49441-559 700 32",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "Bahnhofsplatz 10",
            "addressLocality": "Oldenburg",
            "addressCountry": "DE",
            "addressRegion": "Innenstadt",
            "postalCode": "26122"
        },
        "vatID": "",
        "iso6523Code": ""
    }
</script>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "image": "https://www.mainframe.io/media/img/logo-mainframe.svg",
        "url": "https://www.mainframe.io",
        "sameAs": [
            "https://mainframe.io",
            "https://kreativitaet-trifft-technik.de",
            "https://kreativität-trifft-technik.de"
        ],
        "logo": "https://www.mainframe.io/media/img/logo-mainframe.svg",
        "name": "Mainframe",
        "description": "Hackspace Oldenburg",
        "email": "vorstand@mainframe.io",
        "telephone": "+49441-559 700 32",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "Bahnhofsplatz 10",
            "addressLocality": "Oldenburg",
            "addressCountry": "DE",
            "addressRegion": "Innenstadt",
            "postalCode": "26122"
        },
        "vatID": "",
        "iso6523Code": ""
    }
</script>