<ul class="pagination pagination-sm justify-content-center my-2 mx-auto">
    <li class="page-item">
        <a class="text-center page-link {% if not paginator.previous %}disabled{% endif %}" href="{{ paginator.previous }}" style="width: 3em;">
            <<
        </a>
    </li>
    
    <li class="page-item">
        <a class="text-center page-link {% if paginator.current_index == 1 %}active{% endif %}" href="{{base_path}}1" style="width: 3em;">
            1
        </a>
    </li>

    {% set start = paginator.current_index - 1 %}
    {% if start <= 0 %}
    {% set start = 1 %}
    {% endif %}

    {% if start >= 2 %}
    <li class="page-item">
        <a class="text-center page-link disabled" href="{{current_path}}" style="width: 3em;">
            ...
        </a>
    </li>
    {% endif %}

    {% if paginator.current_index > 1 and paginator.current_index < paginator.number_pagers %}
    <li class="page-item">
        <a class="text-center page-link active" href="{{base_path}}{{paginator.current_index}}" style="width: 3em;">
            {{paginator.current_index}}
        </a>
    </li>
    {% endif %}

    {% if paginator.current_index < (paginator.number_pagers - 1) %}
    <li class="page-item">
        <a class="text-center page-link disabled" href="{{current_path}}" style="width: 3em;">
            ...
        </a>
    </li>
    {% endif %}
    
    <li class="page-item">
        <a class="text-center page-link {% if paginator.current_index == paginator.number_pagers %}active{% endif %}" href="{{base_path}}{{paginator.number_pagers}}" style="width: 3em;">
            {{paginator.number_pagers}}
        </a>
    </li>
    
    <li class="page-item">
        <a class="text-center page-link {% if not paginator.next %}disabled{% endif %}"  href="{{ paginator.next }}" style="width: 3em;">
            >>
        </a>
    </li>
</ul>