{% extends "base.html" %}

{% block main %}

{% set base_path = paginator.base_url %}

{% include "ifs/ifs-pagination.html" %}

<div class="image-gallery">
    {% set pages = paginator.pages %}
    {% for page in pages %}
    {% set page_data = get_page(path=page.relative_path) %}
    <a href="{{page_data.path}}">
        <img alt="Random Image From Space Number {{page.slug}}" loading="lazy"
             src="{{config.extra.ifs_base_path}}/.thumbs/300-{{page_data.extra.image_filename}}"/>
    </a>
    {% endfor %}
</div>

{% include "ifs/ifs-pagination.html" %}

{% endblock main %}
