{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block extra_meta %}
<meta property="og:type" content="article" />

{{
macros::sd_article(
title=section.title,
image_url=config.extra.resource_base ~ "/media/img/mainframe-logo.svg",
created="2012-01-01T23:42",
updated=paginator.pages[0].date,
author=config.author,
description=section.description | default(value="")
)
}}

{{
macros::og_article(
author=config.author, 
section="Images From Space",
created="2012-01-01T23:42", 
updated=paginator.pages[0].date)
}}

{% for page in paginator.pages %}
{% set page_data = get_page(path=page.relative_path) %}

{{
self::sd_image(
image_url=config.extra.ifs_base_path ~ "/" ~ page_data.extra.image_filename,
author=config.author,
title=page_data.title
)
}}

{% endfor %}
{% endblock extra_meta %}

{% block main %}

{% set base_path = paginator.base_url %}

{% include "ifs/ifs-pagination.html" %}

<h4 class="my-2 border-bottom text-primary border-primary">
    Images From Space {{ section.title }}
</h4>

<div class="image-gallery">
    {% for page in paginator.pages %}
    
    {% set page_data = get_page(path=page.relative_path) %}
    {% set scaling = 200 / page_data.extra.height %}
    {% set height = 200 %}
    {% set width = page_data.extra.width * scaling %}
    
    <a href="{{page_data.path}}" style="height: {{height}}px; width: {{width}}px;">
        <img alt=""
             loading="lazy" 
             decoding="async"
             src="{{config.extra.ifs_base_path}}/.thumbs/750-{{page_data.extra.image_filename}}"/>
    </a>
    
    {% endfor %}
</div>

{% include "ifs/ifs-pagination.html" %}

{% endblock main %}
